// .container {
//     width: 80%;
// }

// // custome font
// // where does this need to go????
// @font-face {
//   font-family: 'MyWebFont';
//   src: url('../font/DK_Cool_Crayon.ttf')  format('truetype'), /* Safari, Android, iOS */
// }

// body {
//   font-family: 'MyWebFont', Fallback, sans-serif;
// }

// // styling around the bible
// .bible {
//     border-right: 10px solid black;
//     border-left: 10px solid black;
//     border-top: 2px solid black;
//     border-bottom: 2px solid black;
//     box-shadow: 10px 10px 5px #888888;
//     border-radius: 25px;
// }

// // Styling for the header and Navigation
// a[ng-click]{
//     cursor: pointer;
// }

// // Styling for Read the Bible Button
// .index_center_content {
//     .read_the_bible {
//         height: 2em;
//         font-size: 3em;
//     }
//     .verse_of_day {
//         position: absolute;
//         bottom: 8em;
//         background-color: white;

//         .verse_of_day_title {
//             font-size: 2em;
//             text-align: center;
//         }
//     }
//     .read_the_bible,
//     .verse_of_day {
//         z-index: 1;
//     }
// }

// // Cloud animation
// // http://thecodeplayer.com/walkthrough/pure-css3-animated-clouds-background
// *{ margin: 0; padding: 0;}

// // body {
// //     /*To hide the horizontal scroller appearing during the animation*/
// //     overflow: hidden;
// // }

// #clouds{
//     background: #c9dbe9;
//     background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
//     background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
//     background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);
// }

// /*Time to finalise the cloud shape*/
// .cloud {
//     width: 200px; height: 60px;
//     background: #fff;

//     border-radius: 200px;
//     -moz-border-radius: 200px;
//     -webkit-border-radius: 200px;

//     position: relative;
// }

// .cloud:before, .cloud:after {
//     content: '';
//     position: absolute;
//     background: #fff;
//     width: 100px; height: 80px;
//     position: absolute; top: -15px; left: 10px;

//     border-radius: 100px;
//     -moz-border-radius: 100px;
//     -webkit-border-radius: 100px;

//     -webkit-transform: rotate(30deg);
//     transform: rotate(30deg);
//     -moz-transform: rotate(30deg);
// }

// .cloud:after {
//     width: 120px; height: 120px;
//     top: -55px; left: auto; right: 15px;
// }

// /*Time to animate*/
// .x1 {
//     -webkit-animation: moveclouds 15s linear infinite;
//     -moz-animation: moveclouds 15s linear infinite;
//     -o-animation: moveclouds 15s linear infinite;
// }

// /*variable speed, opacity, and position of clouds for realistic effect*/
// .x2 {
//     left: 200px;

//     -webkit-transform: scale(0.6);
//     -moz-transform: scale(0.6);
//     transform: scale(0.6);
//     opacity: 0.6; /*opacity proportional to the size*/

//     /*Speed will also be proportional to the size and opacity*/
//     /*More the speed. Less the time in 's' = seconds*/
//     -webkit-animation: moveclouds 25s linear infinite;
//     -moz-animation: moveclouds 25s linear infinite;
//     -o-animation: moveclouds 25s linear infinite;
// }

// .x3 {
//     left: -250px; top: -200px;

//     -webkit-transform: scale(0.8);
//     -moz-transform: scale(0.8);
//     transform: scale(0.8);
//     opacity: 0.8; /*opacity proportional to the size*/

//     -webkit-animation: moveclouds 20s linear infinite;
//     -moz-animation: moveclouds 20s linear infinite;
//     -o-animation: moveclouds 20s linear infinite;
// }

// .x4 {
//     left: 470px; top: -250px;

//     -webkit-transform: scale(0.75);
//     -moz-transform: scale(0.75);
//     transform: scale(0.75);
//     opacity: 0.75; /*opacity proportional to the size*/

//     -webkit-animation: moveclouds 18s linear infinite;
//     -moz-animation: moveclouds 18s linear infinite;
//     -o-animation: moveclouds 18s linear infinite;
// }

// .x5 {
//     left: -150px; top: -150px;

//     -webkit-transform: scale(0.8);
//     -moz-transform: scale(0.8);
//     transform: scale(0.8);
//     opacity: 0.8; /*opacity proportional to the size*/

//     -webkit-animation: moveclouds 20s linear infinite;
//     -moz-animation: moveclouds 20s linear infinite;
//     -o-animation: moveclouds 20s linear infinite;
// }

// @-webkit-keyframes moveclouds {
//     0% {margin-left: 1000px;}
//     100% {margin-left: -1000px;}
// }
// @-moz-keyframes moveclouds {
//     0% {margin-left: 1000px;}
//     100% {margin-left: -1000px;}
// }
// @-o-keyframes moveclouds {
//     0% {margin-left: 1000px;}
//     100% {margin-left: -1000px;}
// }

// // readbible page styling
// .readbible {

//     .bible_border {

//     }

//     img {
//         width: 390px;
//         height: 350px;
//         margin-bottom: .5em;
//     }

//     .bible_text {
//         font-size: 2em;
//         margin-top: .25em;

//         .page_num {
//             margin-top: 2px dashed blue;
//         }
//     }
// }

// material
.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}



// Media queries for smaller screens
// @media only screen and (max-width: 990px) {
//     body {
//         background-color: lightblue;
//     }

//     .container {
//         width: 100%;
//     }
// }