<pager total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></pager>

<div class="readbible" ng-cloak>
    <div ng-repeat="bible in bibles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
        <div class="col-md-6 col-xs-6">
            <a ng-click="bookmark(bible)">
                <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i>
            </a>
            <!-- <img src="{{bible.url}}"> -->
            <div class="col-xs-offset-2 col-xs-8 bible_img">
                <img ng-src="{{bible.url}}">
            </div>
            <div class="col-xs-12 bible_text">
                <span>{{bible.story}}</span>
            </div>
            <div class="col-xs-12 page_num">
                <span>Page # {{bible.page_num}}</span>
            </div>
        </div>
    </div>
</div>
