<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Bible App</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
    <body ng-app="TheBibleApp" ng-controller="NavCtrl" ng-cloak>
        <div class="container">
            <nav class="navbar">
                <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">The Church App</a>
                </div>
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ng-click="showComplex()">Login</a>
                    </li>
                    <li>
                        <a ng-click="showComplex()">Register</a>
                    </li>
                  </ul>
                </div>
            </nav>
            <div class="col-xs-12 col-md-12 bible" ng-view>
            <!-- partials go here -->
            </div>
        </div>
        <!-- Testing area -->
        <!-- End Testing area -->
    </body>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- Add to project if working -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<!--     <script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script> -->
    <script src="node_modules/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <!-- End of cdn's -->
    <script src="node_modules/angular-route/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/javascript/app.js"></script>
    <script type="text/javascript" src="/javascript/AppConstant.js"></script>
    <script type="text/javascript" src="/javascript/AppConfig.js"></script>
    <script src="/javascript/factories/AuthFactory.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/factories/UserFactory.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/factories/BibleFactory.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/controllers/ModalCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/controllers/NavCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/controllers/AuthCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/controllers/HomePageCtrl.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/controllers/ReadBibleCtrl.js" type="text/javascript" charset="utf-8"></script>
</html>