<div class="col-xs-offset-11">
    <a href="#/noah" type="button" class="btn btn-primary">Next</a>
</div>
<div ng-cloak>
    <!-- <div ng-repeat="bible in bibles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"> -->
        <div class="col-md-6 col-xs-6 readbible">
            <a ng-click="bookmark(bible)">
                <!-- <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i> -->
            </a>
            <div class="col-xs-12">
            <img class="gif" src="../img/kidsbible/beginning.png">
            </div>
            <div class="col-xs-12 bible_text">
                <span>God made the earth and the sun. He made the moon and the stars.</span>
            </div>
            <div class="col-xs-12 page_num text-center">
                <span>Page # 1</span>
            </div>
        </div>
        <div class="col-md-6 col-xs-6 readbible">
            <a ng-click="bookmark(bible)">
                <!-- <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i> -->
            </a>
            <div class="col-xs-12 noah">
            <img class="gif" src="../img/kidsbible/adamandeve.png">
            </div>
            <div class="col-xs-12 bible_text">
                <span>God made all the animals and plants that live on earth. He made man and women. God looked at all He had done. And it was very good!</span>
            </div>
            <div class="col-xs-12 page_num text-center">
                <span>Page # 2</span>
            </div>
        </div>
    </div>
</div>
