<div class="col-xs-12">
    <div class="col-xs-1">
        <a href="#/david1" type="button" class="btn btn-primary">Previous</a>
    </div>
    <div class="col-xs-offset-10 col-xs-1">
        <a href="#/jesus" type="button" class="btn btn-primary">Next</a>
    </div>
</div>
<div class="readbible" ng-cloak>
    <!-- <div ng-repeat="bible in bibles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"> -->
        <div class="col-md-6 col-xs-6">
            <a ng-click="bookmark(bible)">
                <!-- <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i> -->
            </a>
            <div class="col-xs-12 noah">
            <img class="gif" src="../img/kidsbible/adamandeve.png">
                <!-- <img class="bible_img" ng-src="./img/kidsbible/noahsarkstorm.jpg"> -->
            </div>
            <div class="col-xs-12 bible_text">
                <span>The next day, Daniel came out of the pit. The lions had not eaten him! Daniel's faith in God had saved him.</span>
            </div>
            <div class="col-xs-12 page_num text-center">
                <span>Page # 21</span>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <a ng-click="bookmark(bible)">
                <!-- <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i> -->
            </a>
            <div class="col-xs-12 noah">
            <img class="gif" src="../img/kidsbible/adamandeve.png">
                <!-- <img class="bible_img" ng-src="./img/kidsbible/noahsarkstorm.jpg"> -->
            </div>
            <div class="col-xs-12 bible_text">
                <span>Mary lived in the town of Nazareth. God sent an angel to her. The angel had wonderful news for Mary. She would be the mother of God's own son.</span>
            </div>
            <div class="col-xs-12 page_num text-center">
                <span>Page # 22</span>
            </div>
        </div>
    </div>
</div>