<div class="col-xs-12">
    <div class="col-xs-1">
        <a href="#/noah2" type="button" class="btn btn-primary">Previous</a>
    </div>
    <div class="col-xs-offset-10 col-xs-1">
        <a href="#/" type="button" class="btn btn-primary">Homepage</a>
    </div>
</div>
<div class="readbible" ng-cloak>
    <!-- <div ng-repeat="bible in bibles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"> -->
        <div class="col-md-6 col-xs-6">
            <a ng-click="bookmark(bible)">
                <!-- <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i> -->
            </a>
            <div class="col-xs-12 noah">
            <img class="gif" src="../img/kidsbible/babymosesking.jpg">
                <!-- <img class="bible_img" ng-src="./img/kidsbible/noahsarkstorm.jpg"> -->
            </div>
            <div class="col-xs-12 bible_text">
                <span>But Jesus loved everyone, big and small. He told the children to come to him. Jesus blessed the children. He will always be our friend.</span>
            </div>
            <div class="col-xs-12 page_num text-center">
                <span>Page # 33</span>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <a ng-click="bookmark(bible)">
                <!-- <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i> -->
            </a>
            <div class="col-xs-12 noah">
            <img class="gif" src="../img/kidsbible/babymosesking.jpg">
                <!-- <img class="bible_img" ng-src="./img/kidsbible/noahsarkstorm.jpg"> -->
            </div>
            <div class="col-xs-12 bible_text">
                <span>Let's read and learn together. This simple invitation can be your child's first step in a lifelong spiritual journey.</span>
            </div>
            <div class="col-xs-12 page_num text-center">
                <span>Page # 34</span>
            </div>
        </div>
    </div>
</div>