<!-- <pager total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></pager> -->

<div class="readbible" ng-cloak>
    <!-- <div ng-repeat="bible in bibles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"> -->
        <div class="col-md-6 col-xs-6">
            <a ng-click="bookmark(bible)">
                <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i>
            </a>
            <div class="col-xs-12 noah">
            <img class="gif" src="./img/gif/anotherrain.gif">
                <!-- <img class="bible_img" ng-src="./img/kidsbible/noahsarkstorm.jpg"> -->
            </div>
            <div class="col-xs-12 bible_text">
                <span>A storm came. It rained for fourty days and fourty nights. The earth was flooded.</span>
            </div>
            <div class="col-xs-12 page_num">
                <span>Page # 5</span>
            </div>
        </div>
    </div>
</div>
