// Read the bible button
.readbiblebtn {
  z-index: 1;
  position: absolute;
  font-size: 3em;
  left: 0;
  right: 0;
  top: 30%;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: #2ecc72;
  box-shadow:0px 3px 8px rgba(0,0,0,.3);
  border-bottom:1px solid #33a363;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

  &:after {
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(-50%);
    background-color: #30b566;
    transition: all 0.2s cubic-bezier(0.645,0.045,0.355,1);
  }

  &:active {
    box-shadow: none;

    &:after {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(12) translateZ(0);
    }
  }

  span {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
  }
}

.verse_of_day {
    position: absolute;
    width: 33%;
    left: 33%;
    bottom: 30%;
}