<div class="col-xs-12">
    <div class="col-xs-1">
        <a href="#/david" type="button" class="btn btn-primary">Previous</a>
    </div>
    <div class="col-xs-offset-10 col-xs-1">
        <a href="#/daniel" type="button" class="btn btn-primary">Next</a>
    </div>
</div>
<div class="readbible" ng-cloak>
    <!-- <div ng-repeat="bible in bibles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"> -->
        <div class="col-md-6 col-xs-6">
            <a ng-click="bookmark(bible)">
                <!-- <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i> -->
            </a>
            <div class="col-xs-12 noah">
            <img class="gif" src="../img/kidsbible/adamandeve.png">
                <!-- <img class="bible_img" ng-src="./img/kidsbible/noahsarkstorm.jpg"> -->
            </div>
            <div class="col-xs-12 bible_text">
                <span>Once there was a man named Daniel. Daniel had faith in God. The king liked Daniel and gave him an important job. But other men were jealous of Daniel.</span>
            </div>
            <div class="col-xs-12 page_num text-center">
                <span>Page # 19</span>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <a ng-click="bookmark(bible)">
                <!-- <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i> -->
            </a>
            <div class="col-xs-12 noah">
            <img class="gif" src="../img/kidsbible/adamandeve.png">
                <!-- <img class="bible_img" ng-src="./img/kidsbible/noahsarkstorm.jpg"> -->
            </div>
            <div class="col-xs-12 bible_text">
                <span>The jealous men wanted to get rid of Daniel. They made him go into a pit with hungry lions. Daniel was in the pit all night long. He prayed to God.</span>
            </div>
            <div class="col-xs-12 page_num text-center">
                <span>Page # 20</span>
            </div>
        </div>
    </div>
</div>