<div class="col-xs-12">
    <div class="col-xs-1">
        <a href="#/daniel" type="button" class="btn btn-primary">Previous</a>
    </div>
    <div class="col-xs-offset-10 col-xs-1">
        <a href="#/jesus1" type="button" class="btn btn-primary">Next</a>
    </div>
</div>
<div class="readbible" ng-cloak>
    <!-- <div ng-repeat="bible in bibles.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))"> -->
        <div class="col-md-6 col-xs-6">
            <a ng-click="bookmark(bible)">
                <!-- <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i> -->
            </a>
            <div class="col-xs-12 noah">
            <img class="gif" src="../img/kidsbible/noahsarkdove.jpg">
                <!-- <img class="bible_img" ng-src="./img/kidsbible/noahsarkstorm.jpg"> -->
            </div>
            <div class="col-xs-12 bible_text">
                <span>It was time for the baby to be born. Mary and her husband, Joseph, had to travel to the town of Bethlehem.</span>
            </div>
            <div class="col-xs-12 page_num text-center">
                <span>Page # 23</span>
            </div>
        </div>
        <div class="col-md-6 col-xs-6">
            <a ng-click="bookmark(bible)">
                <!-- <i class="fa fa-bookmark fa-3x" aria-hidden="true"></i> -->
            </a>
            <div class="col-xs-12 noah">
            <img class="gif" src="../img/kidsbible/noahsarkdove.jpg">
                <!-- <img class="bible_img" ng-src="./img/kidsbible/noahsarkstorm.jpg"> -->
            </div>
            <div class="col-xs-12 bible_text">
                <span>There was no room for Mary and Joseph at the inn. They had to stay in the stable. The baby was born there. They named him Jesus. When he was born, a bright star shone in the sky.</span>
            </div>
            <div class="col-xs-12 page_num text-center">
                <span>Page # 24</span>
            </div>
        </div>
    </div>
</div>
